<trix-editor ng-model="textData"
             angular-trix trix-initialize="trixInitialize(e, editor);"
             trix-change="trixChange(e, editor);" 
             trix-selection-change="trixSelectionChange(e, editor);" 
             trix-focus="trixFocus(e, editor);" 
             trix-blur="trixBlur(e, editor);"
             trix-file-accept="trixFileAccept(e, editor);"
             trix-attachment-add="trixAttachmentAdd(e, editor);" 
             trix-attachment-remove="trixAttachmentRemove(e, editor);"
             ng-keydown="keyDownFunc($event)"></trix-editor>
<button  ng-click="saveDoc()" ><i class="glyphicon glyphicon-floppy-disk"></i>&nbsp; Save</button>